* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 65px;
    font-weight: 600;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 32px;
    font-weight: 300;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 18px;
}
p {
    font-size: 15px;
}
a {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
}
img {
    width: auto;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}